@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

.BtnToApp {
    padding: 65px 50px;
    background: var(--Medium);
    margin: 0 10px 0 10px;
    text-align: center;
    display: flex;
        align-items: center;
        justify-content: center;
}

.BtnToAppButton {
    display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    cursor: pointer;
    transition: .3s all ease-in-out;
    color: var(--Darkest);
    font-size: 20px;
    background-color: var(--Dark);
    padding: 20px 60px;
    font-size: 22px;
    box-shadow: 8px 8px 2px 1px var(--Darker);
    position: relative;
    border-radius: 2px;
}

.BtnToAppButton:hover {
    box-shadow: 0 8px 2px 1px var(--Darker);
}

.BtnToAppButton > p {
    margin-right: 5px;
}

.BtnToAppArrow {
    position: relative;
    left: 0;
    font-size: 25px;
    transition: .3s all ease-in-out;
    color: var(--Darker);
}

@media screen and (max-width: 800px) {
    .BtnToApp {
        margin: 0;
        padding: 42px 30px 50px 30px;
    }
}

@media screen and (max-width: 550px) {
    .BtnToAppButton {
        font-size: 15px;
        padding: 20px 25px;
        box-shadow: 0px 8px 2px 1px var(--Darker);
    }
    
    .BtnToAppButton:hover {
        box-shadow: 0px 8px 2px 1px var(--Darker);
    }
    
    .BtnToAppArrow {
        font-size: 17px;
    }
    
}