.Footer {
    margin: 0 10px 10px 10px;
}

.FooterFirst {
    padding: 70px 50px;
    background-color: rgb(209, 209, 209);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterFirst > p {
  color: rgb(110, 110, 110);
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  margin: 0;
}

@media screen and (max-width: 800px) {
    .Footer {
      margin: 0;
    }
  }