@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

.HeaderDiv {
  padding: 70px 50px;
  background-color: var(--Dark);
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content: center;
}

.HeaderContent > h1 {
  max-width: 700px;
  margin: 0 auto;
  font-size: 50px;
  color: rgb(77, 77, 77);
}

.HeaderContent > h1 > span:first-of-type {
  display: inline;
}

.HeaderContent > h1 > span:last-of-type {
  display: none;
}

.HeaderContent > h3 {
  margin: 40px 0;
}

.HeaderPicture {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeaderLeft > img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.HeaderLeft > div > p {
  font-family: 'Merriweather Sans', sans-serif;
}

.HeaderLeft > div > p:nth-child(1) {
  margin-bottom: 1px;
  color: rgb(77, 77, 77);
  font-size: 15px;
}

.HeaderLeft > div > p:nth-child(2) {
  color: var(--textLight);
  font-size: 13px;
}

.HeaderIcon {
  cursor: pointer;
  color: rgb(77, 77, 77);
  font-size: 22px;
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .HeaderDiv {
    padding: 50px 30px 42px 30px;
    margin: 0;
  }

  .HeaderContent > h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .HeaderContent > h1 {
    font-size: 35px;
  }

  .HeaderPicture {
    margin-top: 40px;
    display: flex;
    align-items: unset;
    flex-direction: column;
  }
  
  .HeaderRight {
    margin-top: 5px;
    margin-left: 55px;
  }

  .HeaderIcon {
    color: var(--textLight);
    margin-left: 6px;
  }
}

@media screen and (max-width: 370px) {
  .HeaderContent > h1 > span:first-of-type {
    display: none;
  }
  
  .HeaderContent > h1 > span:last-of-type {
    display: inline;
  }
}