.AppContainer {
    background-color: rgb(209, 209, 209);
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppContainer > div {
    width: 100%;
}

.BtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 860px;
    margin: 0 auto;
}

.InputNewsBtn {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 17px;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(197, 197, 197);
    color: rgb(131, 131, 131);
    margin: 0 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.toggleSubmit {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
}

@media screen and (max-width: 800px) {
    .AppContainer {
        padding: 40px 0;
        margin: 0;
    }
    .InputNewsBtn {
        padding: 14px;
        font-size: 13px;
    }
}