.Form {
    margin: 0 30px;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.InputNews {
    box-sizing: border-box;
    outline: none;
    padding: 20px 23px;
    height: 350px;
    border-radius: 2px;
    background-color: rgb(224, 224, 224);
    border: none;
    max-width: 800px;
    width: 100%;
    font-size: 17px;
    resize: none;
    color: rgb(161, 161, 161);
}

::placeholder {
    color: rgb(161, 161, 161);
}