@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

.CodeDiv {
    box-shadow: 0 3px 2px 1px rgb(238, 238, 238);
}

.topBar {
    height: 25px;
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.topBar > div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.redCircle {
    background-color: #e07878;
    margin-left: 10px;
}

.yellowCircle {
    background-color: #e7df64;
    margin-left: 2px;
}

.greenCircle {
    background-color: #82e679;
    margin-left: 2px;
}

.CodeContainer {
    position: relative;
    background-color: rgb(245, 245, 245);
    padding: 30px;
    margin-bottom: 40px;
    overflow: scroll;
    color: rgb(112, 114, 99);
}

.CopyCode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

.Code > div > p, .Code > div > p span {
    font-size: 17px;
    font-family: 'Zilla Slab', serif;
}

.Code > div > p {
    margin-bottom: 14px;
}

.Code > div > p:last-child {
    margin-bottom: 0;
}

.Code-green {
    color: #63b95b;
}

.Code-red {
    color: #bb6363;
}

.Code-blue {
    color: #637abb;
}

.Code-indent {
    margin-left: 20px;
}

.Code-indent2 {
    margin-left: 40px;
}

.Code-indent3 {
    margin-left: 60px;
}

.ContentIcon {
    font-size: 15px;
    color: rgb(195, 195, 195);
    transition: .3s all ease-in-out;
}

@media screen and (max-width: 800px) {
    .Code > div > p, .Code > div > p span {
        font-size: 14px;
    }
}