.Paragraph > h2 {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: 500;
}

.Paragraph > h3 {
    font-size: 21px;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: 500;
}

.Paragraph > p {
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 30px;
}

.Underline {
    text-decoration: underline;
    display: inline-block;
}

.Bold {
    font-weight: 700;
}

.Link {
    position: relative;
    cursor: pointer;
}

.problemArea {
    font-style: italic;
    margin-left: 10px;
}

.Link::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 7px;
    background-color: rgb(229, 255, 0);
    z-index: -1;
    transition: .3s all ease-in-out;
    outline: none;
}

.Link:hover::before {
    height: calc(100% - 5px);
}

.Reference {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.ReferenceNumber {
    width: 25px;
    margin-right: 20px;
    margin-top: 3px;
}

.ReferenceContent {
    max-width: 650px;
    line-height: 25px;
}

@media screen and (max-width: 800px) {
    .Paragraph > h2 {
        font-size: 22px;
    }

    .Paragraph > h3 {
        font-size: 19px;
    }
    
    .Paragraph > p {
        font-size: 15px;
        line-height: 23px;
    }

    .Reference {
        font-size: 14px;
    }

    .ReferenceContent {
        line-height: 22px;
    }
}