
.CodeContainer {
    position: relative;
    background-color: rgb(250, 249, 249);
    padding: 30px;
    margin-bottom: 40px;
    border-left: 5px solid rgb(240, 240, 240);
    overflow: scroll;
    color: rgb(112, 114, 99);
}

.CopyCode {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}

.Code > div:not(:last-child) {
    margin-bottom: 17px;
}

.ContentIcon {
    font-size: 15px;
    color: rgb(195, 195, 195);
}

.CodeImport > span:nth-of-type(1), .CodeDef {
    color: rgb(167, 175, 75);
}

.CodeDefName {
    color: rgb(172, 184, 69);
}

.ContentDragIn {
    margin-left: 30px;
    display: block;
}